html,body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", 
    sans-serif
}

.col-md-6 {
    background-color: royalblue;
}

#create-random-person {
    background-color: steelblue;
    color:white;
}
button {
    width: 100%;
    height: 100%;
    background-color:rgb(167, 21, 21);
    color:white;
    padding: 40px;
}